.product-edit {
    max-width: 100%;
    background-color: var(--background-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-edit h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}

.product-edit form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-edit form .btn_back_list {
    background-color: var(--primary-color) !important;
    color: var(--dark-text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    width: fit-content;
    display: inline-block;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.product-edit form .btn_back_list:hover {
    background-color: #ff5499; /* Slightly darker shade of pink */
}

.product-edit form .btn_back_list .back-arrow {
    margin-right: 8px;
    font-size: 1.2rem;
}

.product-edit form label {
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 5px;
}

.product-edit form input,
.product-edit form textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: border-color 0.3s ease;
    resize: none; /* For textarea */
}

.product-edit form input:focus,
.product-edit form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

.product-edit form select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: border-color 0.3s ease;
}

.product-edit form select:focus {
    border-color: var(--primary-color);
    outline: none;
}

.product-edit form button {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.product-edit button {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.product-edit form button:hover {
    background-color: #ff5499; /* Slightly darker shade of pink */
}
